*{
	padding: 0px;
	margin: 0px;
}

body{
	margin-top:15px;
	background-color:#336BFF  ;
	text-transform: capitalize;
	color: black;
}

.forms{
	border-radius:19px;
	background: #33E6FF ;
    margin-top: 9px;
    padding-top:30px;
    padding-bottom:15px;
    height:300px;
    width:350px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.box{
	margin:9px;
	height:20px;
}
a{
	display: inline-flex;	
	margin-left: 30px;
	margin-bottom:40px;
}
button {
	margin-left:120px;
	margin-bottom:9px;
	align-content:center;
	align-items:center;
	height:40px;
	width:110px;
	color:black;
	border-color:black;	
}
button:hover {
	color:red;
}
a:hover{
	color:black;
	
}
